.container-btn {
    display: block;
    height: auto;
    width: 100%;
    float: left;
    text-align: center;
}
.container-btn .btn {
  width: 160px;
  height: 60px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  font-size: 22px;
  border-radius: 6px;
  font-family: 'open_sansregular';
  margin-right:10px;
}
.container-btn .btn:hover {
  border: none;
  color: white;
  font-size: 25px;
  transform: scale(1.1);
}
.verde {
  margin-top: 22%;
  border: 2px solid #194ad2;
  color: #19d2c3;
}
.verde:hover {
    margin-top: 22%;
    background-color: #194ad2;
    transition: all 0.3s ease-in-out;
  }
  body{
    background-color: rgb(151, 147, 147);
  }
  P{
    font-size: 50%;
  }